<div class="container">
    <div class="logo-container">
        <img src="assets/images/todotodo-logo.png" alt="logo" />
    </div>
    <div class="form-container">
        <form [formGroup]="form">
            <div class="form-title">
                <h2>Inicia a sesión y empieza a comprar</h2>
            </div>
            <div class="form-fields">
                <mat-form-field appearance="outline" fontLabel="always">
                    <mat-label>Ingrese su email</mat-label>
                    <mat-icon matPrefix>mail_outline</mat-icon>
                    <input
                        matInput
                        placeholder="Email"
                        formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                    />
                    <mat-error *ngIf="f.email.errors && f.email.errors.required">
                        Por favor, ingresar su email
                    </mat-error>
                    <mat-error *ngIf="f.email.errors && f.email.errors.email">
                        Debe ser una dirección de correo electrónico
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fontLabel="always">
                    <mat-label>Ingrese su contraseña</mat-label>
                    <mat-icon matPrefix>lock_outline</mat-icon>
                    <input
                        matInput
                        [type]="!hide ? 'password' : 'text'"
                        placeholder="Contraseña"
                        formControlName="password"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                    />
                    <mat-error *ngIf="f.password.errors && f.password.errors.required">
                        Por favor ingrese su contraseña
                    </mat-error>
                    <a
                        mat-icon-button
                        matSuffix
                        (click)="hide = !hide"
                        [attr.aria-label]="'Ocultar contraseña'"
                        [attr.aria-pressed]="hide"
                    >
                        <mat-icon matSuffix>{{
                        !hide ? "visibility_off" : "visibility"
                        }}</mat-icon>
                    </a>
                </mat-form-field>
            </div>
            <div class="form-actions">
                <button
                mat-raised-button
                class="email-login"
                (click)="emailLogin(form)"
                type="button"
                >
                    <div class="label">
                        Iniciar sesión
                    </div>
                </button>
                <span class="no-account">
                    ¿No tienes una cuenta?
                    <a [routerLink]="['/register']">
                        Regístrate
                    </a>
                </span>
            </div>
        </form>
    </div>
    <div class="back-action-container">
        <div class="wrapper">
            <button mat-flat-button (click)="backToHome()">
                <mat-icon>arrow_back</mat-icon>
                Volver al inicio
            </button>
        </div>
    </div>
</div>
