<div class="footer-container">
  <div class="footer-content">
    <div class="info">
      <div class="info-item">
        <ul>
          <li>
            <h2>Comprar</h2>
          </li>
          <li><a href="">Ayuda</a></li>
          <li><a href="">Productos populares</a></li>
          <li><a href="">Tiendas</a></li>
        </ul>
      </div>
      <div class="info-item">
        <ul>
          <li>
            <h2>Conéctate</h2>
          </li>
          <li>
            <a href="https://www.facebook.com/todotodostore" target="blank">
              <fa-icon [icon]="['fab', 'facebook']" size="sm"></fa-icon>
              Facebook
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/todotodostore/" target="blank">
              <fa-icon [icon]="['fab', 'instagram']" size="sm"></fa-icon>
              Instagram</a
            >
          </li>
        </ul>
      </div>

      <div class="info-item">
        <ul>
          <li>
            <h2>Mi cuenta</h2>
          </li>
          <li><a href="">Ver mi perfil</a></li>
          <li><a href="">Configuración</a></li>
          <li><a href="" style="color: #f55549;">Desactivar mi cuenta</a></li>
        </ul>
      </div>
      <div class="info-item">
        <ul>
          <li>
            <h2>Seguridad</h2>
          </li>
          <li><a href="">Términos y condiciones</a></li>
          <li><a href="">Cambiar mi contraseña</a></li>
        </ul>
      </div>
      <div class="info-item">
        <ul>
          <li>
            <h2>Acerca de TODO TODO Store</h2>
          </li>
          <li><a href="">Información de la empresa</a></li>
        </ul>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="copy">
      <p>
        Copyright &copy; 2020 Todo Todo. Todos los derechos reservados
      </p>
    </div>
  </div>
</div>